<div class="container">
    
    <div class="row">
        <div class="col-md-3">
           <div   *ngFor="let item of fileList" class="thumbnail" style="width: 250px;height: 200px;" (click)="setParams(item)">
                <pdf-viewer [src]= "item"
                            [page]= 1
                            [original-size]="false"
                            style="display: block;"
                 ></pdf-viewer>
            </div>
            
            <br>
        </div>
        <div class="col-md-8">
            <div *ngIf="pdfShow">
                <iframe width="900" height="700" [src]="pageurl" type="application/pdf"></iframe>
            </div>
        </div>
    </div>
</div>